form {
    width: 80%;
    margin: auto;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: flex-start;
    justify-content: center;
}

div.output {
    background-color: #EEEEEE;
    border: 1px solid gray;
    font: medium -moz-fixed;
    overflow: auto;
    padding: 2px;
    resize: none;
    text-align: left;
    font-family: inherit;
}

span.error {
    color: darkred;
}

.separator {
    width: 10%;
}

.box {
    width: 40%;
}

.box .output, .box textarea {
    font-size: 14px;
    height: 431px;
    width: 100%;
    font-family: inherit;
}

