form {
    width: 80%;
    margin: auto;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: flex-start;
    justify-content: center;
}

div.output {
    background-color: #EEEEEE;
    border: 1px solid gray;
    font: medium -moz-fixed;
    overflow: auto;
    padding: 2px;
    resize: none;
    text-align: left;
    font-family: inherit;
    align-items: flex-end;
}

textarea {
    resize: none;
}

span.error {
    color: darkred;
}

.box {
    width: 40%;
}

.box .output, .box textarea {
    font-size: 14px;
    height: 431px;
    width: 100%;
    font-family: inherit;
}

.submit-btn {
    display: flex;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 100px;
    width: 10%;
    margin-left: 16px;
    margin-right: 10px;
    margin-top: 170px;
    font-size: 20px;
    background-color: #4593e3;
    color: white;
    text-align: center;
    font-family: inherit;
}

.submit-btn:hover {
    cursor: pointer;
}